
*.xlsx
NLP 12_SearchSentence/mos searching pronunciation.xlsb
NLP 11_Local_TTS/Duolingo French 02.xlsm
NLP 11_Local_TTS/~$Duolingo French 02.xlsm
NLP 17_MergeLanguageVideo/Memory_Analysis_01.xlsm
NLP 17_MergeLanguageVideo/media_info_test1.xlsm
NLP 17_MergeLanguageVideo/media_info_BigBang.xlsm
NLP 17_MergeLanguageVideo/BigBang/BigBang FR S01E01_FR_cs.mp3
NLP 17_MergeLanguageVideo/BigBang/Calculate_speedx_BigBang.xlsm
